body{
    background-color: #f3ffb6;
    margin-left: 0px;

    display:flex;

    text-align: center;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: center;
}

h1{
    color: 883677;
    text-shadow: 1px;
    text-align: center;
}

h2{
    text-align: center;
}

.navBar{
    width:auto;
    height:auto;
    top:auto;
    margin:20px;

    left:0;
    right:0;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.myButton{
    width:60px;
    height:40px;
    background-color: #708d81;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    color:antiquewhite;
}

.header{
    display:flex;
    justify-content: center;
    text-align: center;
    height:auto;
    margin: 10px;
    border-color: black;
    border-width: 4px;
    border-style: solid;
}

.sameWidth{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

dl{
    margin:10px;
}

dd{
    margin-left:20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

ul{
    height:auto;
    display:flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    align-content: space-evenly; 
    flex-direction: row;
}

.secretCenter{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}